<%- include ("../../partials/header.ejs") %> 
<%- include ("../../partials/homenavbar.ejs") %>
<body>
    <div class="container">
        <hr>
        <% result.articles.rows.forEach(article => { %>
            <div class="card">
                <div class="card-header">
                    <h2><%= article.title %> </h2>
                </div>
                <div class="card-body">
                    <a class="btn btn-success" href="/<%= article.slug %> ">Ler artigo</a>

                </div>
            </div>
            <br>
        <% }) %>

        <div class="row">
            <div class="col col-12">
                <% if (result.page > 2) { %>
                    <a style="float:left" href="/articles/page/<%= result.page - 1 %>"> <<< Prev</a>
                <%} else if(result.page == 2) {%>   
                    <a style="float:left" href="/"> <<< Prev</a>
                <% } %>
                 
                
                
                <% if(result.next) {%>
                    <a style="float:right" href="/articles/page/<%= result.page + 1 %>">Next >>></a>
                <% } %>
                
            </div>
            <hr>
       </div> 
       <hr>

    </div>
</body>

<%- include ("../../partials/footer.ejs") %> 