<%- include ("../../partials/header.ejs") %> 
<%- include ("../../partials/navbar.ejs") %> 
<div class="container">
    <hr>
    <h2>Categorias</h2>
    <a class="btn btn-success" href="/admin/categories/new">Criar nova categoria</a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Slug</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>

            
            <% categories.forEach(category => { %>
                <tr>
                    <th><%= category.id %></th>
                    <th><%= category.title %></th>
                    <th><%= category.slug %></th>
                    <th>
                        <a href="/admin/categories/edit/<%= category.id %> " class="btn btn-warning">Editar</a>


                        <form method="POST" action="/categories/delete" style="display : inline" onsubmit="confirmarDelecao(event, this)">
                            <input type="hidden" name="id" value="<%= category.id %>">
                            <button class="btn btn-danger">Deletar</button>
                        </form>
                        
                    </th>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>
<%- include ("../../partials/footer.ejs") %> 
<script>
    function confirmarDelecao(event, form){
        event.preventDefault();
        console.log("O formulario nao foi enviado!");
        var decision = confirm("Você quer deletar esta categoria?");
        if (decision){
            form.submit();
        }else{  
            console.log("Não quero deletar, foi um acidente!")
        }
    }
</script>